<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQL95Dialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:postgresql://ec2-54-225-254-115.compute-1.amazonaws.com:5432/d9d2jsl5na737l
        </property>
        <property name="hibernate.connection.username">
            cqnjvxucjofgqw
        </property>
        <property name="hibernate.connection.password">
            f4ca97efb101055fcd77e83a40a928b2c7b3d6ee6370c485ba143b6764cb20bb
        </property>

        <property name="show_sql">true</property>

        <mapping class="chaplinskiy.servlet.model.Post"/>
        <mapping class="chaplinskiy.servlet.model.Region"/>
        <mapping class="chaplinskiy.servlet.model.User"/>
    </session-factory>
</hibernate-configuration>